<form name="busqueda" id="busqueda" action="/quizes">
	<label for="search">Buscar preguntas</label>
	<input type="text" name="search" id="search" value="<%=query%>" placeholder="Indroduzca su búsqueda" />
	<input type="submit" value="Buscar" />
	<%if(query) { %>
		<a href="/quizes">Mostrar todos los resultados</a>
	<% }; %>
</form>

<table border="1">
<tr>
  <td>Pregunta</td>
	<td>Categoría</td>
	<td colspan="2">Acciones</td>
</tr>
<% var i; for(i=0; i<quizes.length; i++) { %>
<tr>
  <td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
	<td><%= quizes[i].tema %></td>
  <td><a href="/quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
  <td>
    <form method="post" action="quizes/<%=quizes[i].id %>?_method=delete">
      <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta%>');">
        borrar
      </button>
    </form>
  </td>
</tr>

<% } %>
</table>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
